/* This file is for your main application css. */

.sizing {
  display: block;
  height: 50px;
  width: 200px;
  margin: 10px;
  background-color: rgb(106, 75, 213);
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 10px;
}

button:hover {
  background-color: white;
  color: black;
}

button:focus {
  outline: none;
}

div.question {
  color: black;
  font-size: 30px;
  margin: 20px
}


#play {
  position: absolute;;
  top: 41%;
  left: 41%;
}

.table.table-striped {
  width: 600px;
  text-align: center;
}

.page-header {
  text-align: center;
}

.panel.panel-default {
  width: 600px;
}

.col-sm-3.text-left {
  text-align: center;
}

.show-field {
  width: 150px;
}

.head-field {
  text-align: center;
}

.index-field {
  width: 250px;
}

.index-row  {
  width: 100px;
  text-align: center;
}

.form-control {
  width: 400px;
}

.form-group {
  width: 400px;
}
