/* This file is for your main application css. */

.sizing {
  height: 50px;
  width: 200px;
  margin: 10px;
  background-color: rgb(106, 75, 213);
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 10px;
}

.c-position {
  display: block;
  float: left;
  position: relative;
  right: 50%;
}

.sizing:hover {
  background-color: rgb(157, 135, 227);
}

button:focus {
  outline: none;
}

div.question {
  color: black;
  font-size: 30px;
  margin: 20px
}

#login {
  display:inline-block;
  margin-right:10px;
}

#join {
  display:inline-block;
}

#filler {
  height: 50px;
}

.table.table-striped {
  width: 600px;
  text-align: center;
}

.page-header {
  text-align: center;
}

.panel.panel-default {
  width: 600px;
}

.col-sm-3.text-left {
  text-align: center;
}

.show-field {
  width: 150px;
}

.head-field {
  text-align: center;
}

.index-field {
  width: 250px;
}

.index-row  {
  width: 100px;
  text-align: center;
}

.form-control {
  width: 400px;
}

.form-group {
  width: 400px;
}

.title {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 80pt;
}

.navbar-custom {
    background-color:rgb(106, 75, 213);
    color: white;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color: white;
}
.navbar-custom .navbar-nav:hover > li > a {
  background-color: none;
}
.navbar-custom .navbar-brand {
    color: white;
}
.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
  background-color: rgb(157, 135, 227);
}

.nav > li > a:hover,
.nav > li > a:focus {
   text-decoration: none;
   background-color: rgb(157, 135, 227); /*Change rollover cell color here*/
 }



/* CHAT */


.messageInput {
    width: 230px;
    border-radius: 4px;
    color: black;
    padding-top: 10px;

}

.messages {
  width: 230px;
  height: 335px;
  border-radius: 4px;
  color: black;
  background-color: white;
  margin-bottom: 10px;
  overflow:auto;
}
#chat {
  width:250px;
  margin: 10px;
  float: right;
}

.chat {
  border-radius: 4px;
  width: 250px;
  height: 400px;
  background-color: rgb(106, 75, 213);
  color: white;
  padding: 10px;
  float: right;

}
.chat-button {
  background-color: rgb(106, 75, 213);
  color: white;
  text-align: center;
  width: 100px;
  border-radius: 4px;
  padding: 10px;
  margin-left: 150px;
  margin-bottom: 10px;
}

.game-buttons {
  clear: left;
  float: left;
  position: relative;
  left: 50%;

}

.lobby {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li#greeting {
    padding: 15px;
}
