/* This file is for your main application css. */
body {
  background-color: rgb(60, 236, 183);
}

.sizing {
  display: block;
  height: 50px;
  width: 200px;
  margin: 10px;
  background-color: rgb(106, 75, 213);
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 10px;
}

button:hover {
  background-color: white;
  color: black;
}

button:focus {
  outline: none;
}

div.question {
  color: white;
  font-size: 30px;
  margin: 20px
}


#play {
  position: absolute;;
  top: 41%;
  left: 41%;
}
