

<h1 class="title"> Quizzbuzz </h1>

<%= if @current_user do %>
<center>
  <form class="play-form" action="/game">
    <button id="play" class="sizing">Play</button>
  </form>
</center>
<% else %>
  <form action="/login" id="login">
    <button id="login" class="sizing">Sign in</button>
  </form>
  <form action="/join" id="join">
    <button id="join" class="sizing">Sign up</button>
  </form>
<% end %>
